.grid-table {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.grid-table > div {
    
    background: white
    
    
}

.cell-style {
    border: 1px solid #555;
    width: 50px;
    height: 50px;
    
    background: white
  }

img {
    display: block;
    margin: 0 auto
}

div {
   border: solid;
   margin: 0
}

table {
    max-width: 600px;
    margin: 0 auto
}